{% extends 'layout.html' %}

{% block title %}
    About Us
{% endblock %}

{% block content %}



<!-- HERO -->

<section class="section-padding mt-5">
    <div class="container py-5 text-center">
        <div class="row">
            <div class="col-12 mb-1">
                <div class="section-title pb-5">
                    <h1 class="display-4 fw-semibold text-uppercase">about us</h1>
                    <div class="line"></div>
                    <p>Our mission is to provide high-quality recipes, with a focus on the best go to ingredients.</p>
                </div>
            </div>
        </div> 
    </div>
</section>

<!-- ABOUT US -->

<section id="aboutus" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-6 d-flex align-items-center justify-content-center" data-aos="fade-right">
                <img src="/static/images/person1.webp" alt="" style="width: 300px; height: 300px;">
            </div>
            <div class="col-6 d-flex align-items-center" data-aos="fade-left" data-aos-delay="100">
                <div class="container">
                    <h1>Michael Thompson</h1>
                    <h5>Chief Financial Officer</h5>
                    <p>Oversees the financial operations of the e-commerce website, including budgeting, forecasting, financial planning, and analysis. Ensures the financial health and sustainability of the business.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                <div class="container" style="text-align: right;">
                    <h1>James Bennett</h1>
                    <h5>Chief Technology Officer</h5>
                    <p>In charge of the website's technical aspects, ensuring the platform is secure, scalable, and runs smoothly. Manages the IT team and technology-related decisions.</p>
                </div>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center" data-aos="fade-down" >
                <img src="/static/images/person2.webp" alt="" style="width: 300px; height: 300px;">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6 d-flex align-items-center justify-content-center" data-aos="fade-left">
                <img src="/static/images/person4.png" alt="" style="width: 300px; height: 300px;">
            </div>
            <div class="col-6 d-flex align-items-center" data-aos="fade-left" data-aos-delay="100">
                <div class="container">
                    <h1>David Anderson</h1>
                    <h5>Head of Operations</h5>
                    <p>Manages the day-to-day operations of the e-commerce business, including logistics, supply chain management, and order fulfillment. Ensures efficient and effective operational processes.</p>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                <div class="container" style="text-align: right;">
                    <h1>Emily Carter</h1>
                    <h5>Chief Marketing Officer</h5>
                    <p>Responsible for overseeing the planning, development, and execution of the e-commerce website's marketing and advertising initiatives.</p>
                </div>
            </div>
            <div class="col-6 d-flex align-items-center justify-content-center" data-aos="fade-up">
                <img src="/static/images/person3.png" alt="" style="width: 300px; height: 300px;">
            </div>
        </div>
    </div>
</section>

{% endblock %}